#LAST_bg {
	width: 80%;
	margin: auto;
}

/* QUIZ MAIN CSS */
#staticlogo {
	/* remove width, max-height, padding-top, margin-left */
	padding-bottom: 50px;
}


/* QUIZ MOBILE CSS */
@media (max-width: 700px) and (min-height: 1000px),  (max-width: 600px) and (min-height: 900px), (max-width: 550px) {
	#staticlogo {
		/* remove width, margin-left, padding-top */
		padding-bottom: 30px;
	}
	#welcomebuttons {
		bottom: 100px;
	}
}
@media (max-width: 350px) {
	#welcomebuttons {
		/* remove bottom */
	}
}
@media (max-height: 450px) and (orientation: landscape) {
	#staticlogo {
		/* remove width, margin-left, padding-top */
		padding-bottom: 30px;
	}
}