body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	background-image: url(img/background_welcome.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-transition: background-image 0.3s linear 0.5s;
    transition: background-image 0.3s linear 0.5s;
	-webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
	height: 100%;
	overflow-y: hidden;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
a {
	text-decoration: underline;
	cursor: pointer;
	font-size: 130%;
	font-weight: bold;
	color: black;
}
h1 {
	font-weight: normal;
}
#theform {
	margin: 0;
}
.question {
    height: 100%;
    width: 1000px;
	margin-left: calc(50% - 500px);
	position: absolute;
	visibility: hidden;
	display: table;
    overflow: hidden;
	-webkit-transition-delay: 0s;
    transition-delay: 0s;
	-webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}
@media (max-width: 1000px) {
	.question {
		width: 100%;
		left: 0;
		margin-left: 0;
	}
}
.activeslide {
	-webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
fieldset {
	width: 100%;
	padding: 0;
	margin: auto;
	border: none;
}
.questionfield {
	position: absolute;
    top: calc(50% - 32px);
    left: 50%;
	-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	max-height: 85%;
}
fieldset button {
	cursor: pointer;
	padding: 0;
	border: none;
	width: 100%;
	background-color: Transparent;
	outline: none;
	width: 70%;
	margin: auto;
	overflow: visible;
}
button img {
	width: 100%;
	margin: auto;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.wrap2 {
	width: 25%;
	float: left;
	margin-left: calc(25% / 4);
}
.wrap2first { /* for the first option */
	margin-left: 21.875%;
}
.wrap3 {
	width: 25%;
	float: left;
	margin-left: calc(25% / 4);
}
.wrap4 {
	width: 25%;
	float: left;
}
@media (max-width: 1050px) {
	.wrap4 {
		margin-left: calc(50% / 3);
	}
	#q5 .wrap4 .engsub {
		height: 50px;
	}
	.wrap4 .maorisub {
		height: 42px;
	}
}
.wrap2 button, .wrap3 button, .wrap4 button {
	display: block;
}
.engsub {
	text-align: center;
	margin: 16px 0 6px 0;
	font-size: 130%;
	display: block;
}
.maorisub {
	text-align: center;
	font-size: 100%;
	color: grey;
	display: block;
	margin-bottom: 24px;
}
.questiontext {
	text-align: center;
	margin-top: 0;
	margin-bottom: 8px;
}
.maoriquestiontext {
	text-align: center;
	margin-top: 0;
	margin-bottom: 32px;
	font-size: 130%;
	color: grey;
}
#navdots {
	bottom: 40px;
	position: fixed;
	margin-left: calc(50% - 154px);
}
.dots {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	margin: 0 8px;
	border: none;
	cursor: pointer;
	outline: none;
	background-color: #acdee4;
}
.activedot {
	background-color: #5B739A;
}
.tooltiptext {
	visibility: hidden;
	position: absolute;
	width: 200px;
	text-align: center;
    padding: 5px 0;
	top: -40px;
	margin-left: -120px;
}
.navbutton {
	position: absolute;
	bottom: calc(50% - 2px);
	width: 44px;
	height: 44px;
	border: none;
	background-color: Transparent;
	outline: none;
	cursor: pointer;
	overflow: visible;
}
#prevbutton {
	left: 24px;
}
#nextbutton {
	right: 24px;
}
#exit {
	position: fixed;
	top: 24px;
	right: 24px;
}
#exitbutton {
	border: none;
	background-color: Transparent;
	cursor: pointer;
	width: 48px;
	height: 48px;
	padding: 0;
	outline: none;
	overflow: visible;
}
#exitbutton img {
	width: 100%;
}
#welcomebuttons {
	position: absolute;
	bottom: 48px;
	width: 250px;
	margin-left: calc(50% - 125px);
}
#welcomebuttons button {
	cursor: pointer;
	padding: 0;
	border: none;
	background-color: Transparent;
	outline: none;
	overflow: visible;
}
#continuebutton {
	width: 100%;
	margin-bottom: 16px;
}
#skipbutton {
	width: 13%;
	margin-left: 43.5%;
}
#welcomefieldset {
	height: 100%;
	top: 50%;
	max-height: 100%;
}
#staticlogo {
	display: block;
	width: 15%;
	max-height: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-left: 42.5%;
}
.logo {
	display: block;
	width: 40%;
	margin-left: 30%;
	margin-bottom: 24px;
}
.fronttext {
	width: 80%;
	margin: auto;
	margin-bottom: 24px;
	font-size: 100%;
	text-align: center;
}
@media (min-height: 650px) {
	.logo {
		width: 45%;
		margin-left: 27.5%;
	}
}
@media (min-height: 700px) {
	.logo {
		width: 50%;
		margin-left: 25%;
	}
	#welcomebuttons {
		width: 300px;
		margin-left: calc(50% - 150px);
	}
}
@media (min-height: 750px) {
	.logo {
		width: 60%;
		margin-left: 20%;
	}
	.fronttext {
		width: 60%;
	}
}
@media (min-height: 800px) {
	.logo {
		width: 70%;
		margin-left: 15%;
	}
	.fronttext {
		width: 50%;
	}
}
#cloudlogo, #cloudlogo2 {
	position: absolute;
	z-index: -1;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
	cursor: pointer;
	text-decoration: underline;
}
.modaloptions {
	margin-top: 24px;
	margin-bottom: 24px;
	text-align: center;
}
.modaloptions a {
	display: block;
	width: 100%;
	margin: auto;
	margin-top: 30px;
}
.carouselcontainer {
	margin: 100px auto;
	width: 40%;
	height: 200px;
	position: relative;
}
.carousel {
	height: 100%;
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 0.7s;
}
.item {
	position: absolute;
	background: Transparent;
	width: 100%;
	text-align: center;
	opacity: 0.1;
}
.item img {
	width: 100%;
	margin-top: 20px;
	transition: transform 0.7s;
}
.a {
	transform: rotateY(0deg) translateZ(400px);
	opacity: 1;
}
.a img {
	transform: scale(1.5);
}
.b {
	transform: rotateY(60deg) translateZ(400px);
}
.c {
	transform: rotateY(120deg) translateZ(400px);
}
.d {
	transform: rotateY(180deg) translateZ(400px);
}
.e {
	transform: rotateY(240deg) translateZ(400px);
} 
.f {
	transform: rotateY(300deg) translateZ(400px);
}
.carouselnext, .carouselprev {
	position: absolute;
	bottom: -10%;
	cursor: pointer;
	width: 150px;
}
.carouselnext img, .carouselprev img {
	width: 100%;
}
.carouselnext:active, .carouselprev:active {
	bottom: -11%;
}
.carouselnext {
	right: 5em;
}
.carouselprev {
	left: 5em;
}
.ie-alt {
	display: none;
	width: 100%;
}
#ie-slider {
	width: 60%;
	height: 350px;
	margin: auto;
}
.ie-slide {
	width: 100%;
}
#slidernext, #sliderprev {
	position: absolute;
	bottom: -10%;
	cursor: pointer;
	width: 150px;
	overflow: visible;
}

#slidernext img, #sliderprev img {
	width: 100%;
}
#slidernext {
	right: 5em;
}
#sliderprev {
	left: 5em;
}
#logodiv img {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 200px;
	z-index: -1;
}
@media (hover:hover), (-ms-high-contrast: none), (-ms-high-contrast: active) {
	a:hover {
		color: #33b789;
	}
	button img:hover {
		-ms-transform: scale(1.05, 1.05);
		-webkit-transform: scale(1.05, 1.05);
		transform: scale(1.05, 1.05);
	}
	.dots:hover {
		background-color: #33b789;
	}
	.dots:hover + .tooltiptext {
		visibility: visible;
	}
	.close:hover {
		color: #33b789;
	}
	#slidernext img:hover, #sliderprev img:hover {
		-ms-transform: scale(1.05, 1.05);
		-webkit-transform: scale(1.05, 1.05);
		transform: scale(1.05, 1.05);
	}
}