@font-face {
    font-family: "My Custom Font";
    src: url("font/STAGSANS-LIGHT.OTF") format("truetype");
}

body{color:#222;-webkit-text-size-adjust:none; font-family: "My Custom Font", Verdana, Tahoma;}
		body,h1,h2,h3,h4,h5,h6,hr,blockquote,dl, dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,iframe{margin:0; padding:0;}
		h1,h2,h3,h4,h5,h6{font-size:2.4em;}
		body,button,input,select,textarea {font-size:62.5%; line-height:1.5;}
		ol,ul{list-style:none;}
		p{font-size:2.4em;
text-indent : 4em;text-align:left}
html,body{ width:100%; height:100%; overflow:hidden;
		background-image: url(../img/background.png);

	background-size: 100% 100%;
	background-repeat: no-repeat;
		}


.section-wrap{width:100%;height:100%;overflow:visible;transition:transform 1s cubic-bezier(0.86,0,0.03,1);-webkit-transition:-webkit-transform 1s cubic-bezier(0.86,0,0.03,1);}
		.section-wrap .section{position:relative; width:100%; height:100%;}
		.section-wrap .section .title{width:100%;height:100%;position:absolute;color:#000;text-align:center;margin: 0 auto;}
		.section-wrap .section .title p{ padding:0 4%;opacity:0}
		.section-wrap .section .title.active .tit{ opacity:1;transform:translateY(-25px);-webkit-transform:translateY(-5px);transition:all 2s cubic-bezier(0.86,0,0.8,1);-webkit-transition:all 2s cubic-bezier(0.86,0,0.8,1);}
		/*.section-wrap .section-1{ /*background-image: url(../img/background.png);

	background-size: 100% 100%;}
		.section-wrap .section-2{ background-image: url(../img/background.png);

	background-size: 100% 100%;}
		.section-wrap .section-3{ background-image: url(../img/background.png);

	background-size: 100% 100%;}
		.section-wrap .section-4{ background-image: url(../img/background.png);

	background-size: 100% 100%;}
		.section-wrap .section-5{ background-image: url(../img/background.png);

	background-size: 100% 100%;}
		.section-wrap .section-6{ background-image: url(../img/background.png);

	background-size: 100% 100%;}*/
		.put-section-0{ transform:translateY(0);-webkit-transform:translateY(0);}
		.put-section-1{ transform:translateY(-100%);-webkit-transform:translateY(-100%);}
		.put-section-2{ transform:translateY(-200%);-webkit-transform:translateY(-200%);}
		.put-section-3{ transform:translateY(-300%);-webkit-transform:translateY(-300%);}
		.put-section-4{ transform:translateY(-400%);-webkit-transform:translateY(-400%);}
		.section-btn{ width:14px;position:fixed;right: 3%; top: calc(50% - 3.25em);}
		.section-btn li{font-size:100%; width: 1.5em; height: 1.5em; cursor:pointer;text-indent:-9999px;border-radius:50%;-webkit-border-radius:50%;margin-bottom:1em; background-color: #acdee4; text-align:center; color:#fff; onsor:pointer;}
		.section-btn li:hover {background-color: #33b789;}
		.section-btn li.on{background-color: #ffffff;}

		.uparrow{top:25%;
width:6%;
	position:fixed;right: 1%;}

		.downarrow{bottom :15%;
		width:6%;
	position:fixed;right: 1%;}

	

#main{
width:80%;
height:80%;
position:absolute;
text-align:center;
margin: 0 auto;	
top:10%;
left:10%;
overflow:hidden;	
}


	
#header{
		text-align:center;
	
}
.header-top{
	width: 100%;
	height: 10%;

z-index: 1;
	position:fixed;
	vertical-align: middle;

	
}
.logoImg {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;


	margin: 1em auto;
}
.SocialIcon{
	
	
	
	width:23%;
}
.topRight {
	text-align:center;
	position:fixed;
	top: 2%;
	right: 1%;

	z-index: 2;
width: 20%;
}


.topleft {
	position:fixed;
	top: 15px;
	left: 100px;

	z-index: 2;
}
.firstimg{
		
		height:100%;
	width:100%;
}
.inner{

	position:relative;
}
.bigimg{
	float:center;
	height:50%;
	width:100%;

}
.icons{
	padding-top:5%;
	float:center;
	height:50%;
	width:100%;
}
#search {
	z-index:9;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

/*#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}*/

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}

#rightbar{
	right:0;
	height:80%;
	width:5%;
	position: absolute;
	
}




.CampusImg{
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
	margin: 1em auto;

}
.upimg{
	height:50%;
}
.downimg{
	height:50%;
}
.service-img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;

}
.service-icon {
	height: 32%;

	margin: 0.5%;
}


/*
.service-page {
	margin-top: 2em;
}

.service-services {
	margin-top: 2em;
}

.service-header {
	min-width: 300px;
	width: 80%;

}

*/

@media screen and (max-width: 800px) {
	#header{
	
	}
	.topleft{
	top: 80px;
	left: 20px;
	}
	.topRight {


}

.service-icon {
	height: 15%;

	margin: 0.5%;
}
  .bigimg{
	float:left;
	width:100%;
height:40%;
}
.icons{
		padding-top:5%;
	float:left;
	width:100%;
height:60%;
}
  
}


@media screen and (orientation: portrait) {
  /*竖屏 css*/
} 
@media screen and (orientation: landscape) and (max-height: 600px) {
  /*横屏 css*/
  .bigimg{
	float:left;
	width:60%;
height:100%;
}

.service-icon {
	height: 17%;

	margin: 0.5%;
}
.icons{
	float:left;
	width:40%;
height:100%;
}
  
.firstimg{
		
		height:80%;
	width:100%;
}
}







































